[submodule "themes/tailwind"]
	path = themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
[submodule "public"]
	path = public
	url = https://github.com/Lulullia/lulullia.github.io.git
	branch = main
