html {
    font-size: 62.5%;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--body-background);
    margin: 0;
    font-family: var(--base-font-family);
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* scrollbar styles for Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar-thumb) transparent;
}
/**/

/* scrollbar styles for Chromium */
::-webkit-scrollbar {
    height: auto;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
/**/

::selection,
::-moz-selection,
::-webkit-selection {
    color: var(--page-text-color-dark);
    background: var(--accent-color);
}

a {
    text-decoration: none;
    color: var(--accent-color-darker);
    @include transition();
    
    &:hover {
        color: var(--accent-color);
    }

    &.link {
        box-shadow: 0px -2px 0px rgba(var(--link-background-color), var(--link-background-opacity)) inset;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0px calc(-1rem * var(--article-line-height)) 0px rgba(var(--link-background-color), var(--link-background-opacity-hover)) inset;
        }
    }
}

.icon-stroke {
    fill: none !important;
}