/*
*   Page builder classes
*/
// Flex
.flex {
    &-row {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
        @include respond(lg) {
            // Only display rows if screen is large enough.
            flex-direction: row;
            gap: 14px;
        }
    }
}

// Boxes
.box {
    &-big, &-medium, &-small {
        background: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l2);
        padding: 14px 16px;
        margin-bottom: 14px;

        align-content: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;

        color: var(--page-text-color);
    }

    &-medium {
        flex-grow: 2;
        min-width: calc((100% / 3) * 2);
    }
    &-small {
        flex-grow: 1;
    }
}

.transparent {
    background-color: transparent;
}

.noshadow {
    box-shadow: none;
}

// Text customization
.text {
    &-small {
        font-size: calc(var(--article-font-size) * 0.9);
    }
    &-smaller {
        font-size: calc(var(--article-font-size) * 0.75);
    }
    &-big {
        font-size: calc(var(--article-font-size) * 1.1);
    }
    &-bigger {
        font-size: calc(var(--article-font-size) * 1.25);
    }

    &-center {
        text-align: center;
    }

    &-bold {
        font-weight: bold;
    }
}

// Special blocks
.tags {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 8px;

    span {
        background-color: var(--accent-color);
        border-radius: var(--box-border-radius);
        box-shadow: var(--shadow-l1);
        padding: 2px 6px;
        text-align: center;

        font-weight: normal;
        color: var(--page-text-color-dark);

        @include transition();

        &:hover {
            cursor: default;
            font-size: larger;
        }
    }
}

.quote {
    display: inline-block;
    margin: 8px 0;

    font-family: var(--serif-font-family);
    font-size: larger;
    letter-spacing: 1px;
    line-height: 2.6rem;
    word-wrap: break-word;
    
    .icon {
        margin: 0 2px;
    }
}

.quote-src {
    font-size: small;
    text-align: end;
}

.icon-table {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 14px;
    margin: 12px 0;

    &:not(:first-child) {
        margin-top: 20px;
    }

    svg {
        $size: 22px;
        height: $size;
        width: $size;
    }
}

.palette {
    display: flex;
    text-align: center;
    justify-content: space-between;

    margin: 30px 20px 0 20px;

    div {
        $size: 50px;
        width: $size;
        height: $size;
        border-radius: 100%;
        vertical-align: middle;
    }
}

.button {
    margin: 10px 14px;
    display: flex;
    justify-content: center;
    
    a {
        background-color: var(--accent-color);
        border-radius: var(--box-border-radius);
        box-shadow: var(--shadow-l2);
        padding: 4px 8px;
    
        color: var(--page-text-color-dark);
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    
        @include transition();
    
        &:hover {
            background-color: var(--accent-color-darker);
        }
    }
}

.progress-bar {
    $bar-height: 14px;

    background-color: var(--body-background);
    border: var(--card-background) 2px solid;
    border-radius: var(--box-border-radius);

    height: $bar-height;
    width: 100%;
    margin-top: 8px;
    box-sizing: border-box;
    overflow: hidden;

    div {
        height: $bar-height;
        background-color: var(--accent-color);
    }
}
